{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="styles.css">
{% load static %}
{% load django_tables2 %}
{% load bootstrap4 %}

{% block content %}
    <div class="container mt-5">
        <form method="get" action="">
            <label for="id_genre">Genre:</label>
            <select name="genre" id="id_genre" multiple>
                {% for genre_choice in genre_choices %}
                    <option value="{{ genre_choice }}">{{ genre_choice }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Apply Filter">
        </form>

        <form method="get" id="filter-form">
            {% for genre_choice in genre_choices %}
                <label>
                    <input type="checkbox" name="genre" value="{{ genre_choice }}"
                           {% if genre_choice in filter.form.genre.value %}checked{% endif %}
                           onclick="submitFilterForm()">
                    {{ genre_choice }}
                </label>
            {% endfor %}
            <input type="text" name="search" value="{{ filter.form.search.value }}" placeholder="Search..."
                   onkeyup="submitFilterForm()" hidden>
            <!-- Hide the Apply Filter button -->
            <input type="submit" value="Apply Filter" style="display: none;">
        </form>
        <form method="get" action="">
            <label for="search">Search:</label>
            <input type="text" id="search" name="search" value="{{ request.GET.search }}">
            <input type="submit" value="Search">
            <a href="{% url 'clear-filters' %}" class="btn btn-secondary">Reset Filters</a>
        </form>
        {% render_table table %}

        {#    {% if table %}#}
        {#    <table>#}
        {#      <thead>#}
        {#        <tr>#}
        {# Title#}
        {#            Poster#}
        {#            Genre(s)#}
        {#            Rating#}
        {#            Year Release#}
        {#            Metacritic Rating#}
        {#Runtime#}
        {#          <th>Title</th>#}
        {#          <th>Poster</th>#}
        {#          <th>Genre(s)</th>#}
        {#          <th>Year Released</th>#}
        {#          <th>Metaci</th>#}
        {#          <th>Genre</th>#}
        {#          <th>Director</th>#}
        {#          <th>Writer</th>#}
        {#          <th>Actors</th>#}
        {#          <th>Plot</th>#}
        {#          <th>Language</th>#}
        {#          <th>Country</th>#}
        {#          <th>Awards</th>#}
        {#          <th>Poster</th>#}
        {#          <th>Meta Score</th>#}
        {#          <th>IMDB Rating</th>#}
        {#          <th>IMDB Votes</th>#}
        {#        </tr>#}
        {#      </thead>#}
        {#      <tbody>#}
        {#        {% for movie in table %}#}
        {#        <tr>#}
        {#          <td>{{ movie.title }}</td>#}
        {#          <td>{{ movie.year }}</td>#}
        {#          <td>{{ movie.rated }}</td>#}
        {#          <td>{{ movie.released }}</td>#}
        {#          <td>{{ movie.runtime }}</td>#}
        {#          <td>{{ movie.genre|join:", " }}</td>#}
        {#          <td>{{ movie.director }}</td>#}
        {#          <td>{{ movie.writer }}</td>#}
        {#          <td>{{ movie.actors }}</td>#}
        {#          <td>{{ movie.plot }}</td>#}
        {#          <td>{{ movie.language }}</td>#}
        {#          <td>{{ movie.country }}</td>#}
        {#          <td>{{ movie.awards }}</td>#}
        {#          <td><img src="{{ movie.poster }}" alt="Poster Image" width="100" height="150"></td>  <!-- Use the image URL directly in the src attribute -->#}
        {#          <td>{{ movie.meta_score }}</td>#}
        {#          <td>{{ movie.imdb_rating }}</td>#}
        {#          <td>{{ movie.imdb_votes }}</td>#}
        {#        </tr>#}
        {#        {% endfor %}#}
        {#      </tbody>#}
        {#    </table>#}
        {#  {% else %}#}
        {#    <p>No movies found.</p>#}
        {#  {% endif %}#}

    </div>
    <script>
      const anchorTags = document.querySelectorAll('table td a');

      anchorTags.forEach(anchorTag => {
        const title = anchorTag.textContent;

        const url = anchorTag.getAttribute('href');

        const imgElement = document.createElement('img');

        imgElement.setAttribute('src', url);
        imgElement.setAttribute('alt', "No Image found");

        anchorTag.parentNode.replaceChild(imgElement, anchorTag);
      });

      const tdElements = document.querySelectorAll('table td:nth-of-type(3)');

      tdElements.forEach(tdElement => {
        {#const trimmedText = tdElement.textContent.trim();#}
        const trimmedText = tdElement.textContent.replace(/[\[\]']/g, "");
        ;
        tdElement.textContent = trimmedText;
      });

      function submitFilterForm() {
        setTimeout(function () {
          document.getElementById('filter-form').submit();
        }, 100);
      }

      function getUrlParams(url) {
        const params = new URLSearchParams(url);
        const paramsObj = {};
        for (const pair of params.entries()) {
          const [key, value] = pair;
          if (key === 'genre') {
            if (paramsObj[key]) {
              paramsObj[key].push(value);
            } else {
              paramsObj[key] = [value];
            }
          } else {
            paramsObj[key] = value;
          }
        }
        return paramsObj;
      }

      function checkCheckboxes() {
        const urlParams = getUrlParams(window.location.search);
        const checkboxes = document.querySelectorAll('input[type="checkbox"][name="genre"]');
        checkboxes.forEach(checkbox => {
          checkbox.checked = urlParams.genre ? urlParams.genre.includes(checkbox.value) : false;
        });
      }

      checkCheckboxes();
    </script>
{% endblock %}




{#{% extends "base.html" %}#}
{##}
{#{% block content %}#}
{#    <h1>Movies List</h1>#}
{##}
{# Display the filters #}
{#    <form method="get">#}
{#        {{ filter.form.as_p }}#}
{#        <button type="submit">Apply Filter</button>#}
{#    </form>#}
{##}
{#    <table class="table table-striped">#}
{#        <thead>#}
{#        <tr>#}
{#            <th>Title</th>#}
{#            <th>Poster</th>#}
{#            <th>Genre</th>#}
{#            <th>Rating</th>#}
{#            <th>Year Release</th>#}
{#            <th>Metacritic Rating</th>#}
{#            <th>Runtime</th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for movie in filter.qs %}#}
{#            <tr>#}
{#                <td>{{ movie.title }}</td>#}
{#                <td><img style="height: 15vw;width: 15vw" src="{{ movie.poster }}" alt={{  movie.title}} /></td>#}
{#                <td>{{ movie.genre|join:", " }}</td>#}
{#                <td>{{ movie.rating }}</td>#}
{#                <td>{{ movie.release }}</td>#}
{#                <td>{{ movie.meta_score }}</td>#}
{#                <td>{{ movie.runtime }}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
{##}
{#    {% if is_paginated %}#}
{#        <div class="pagination">#}
{#            <span class="step-links">#}
{#                {% if page_obj.has_previous %}#}
{#                    <a href="?page=1">&laquo; first</a>#}
{#                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>#}
{#                {% endif %}#}
{##}
{#                <span class="current">#}
{#                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
{#                </span>#}
{##}
{#                {% if page_obj.has_next %}#}
{#                    <a href="?page={{ page_obj.next_page_number }}">next</a>#}
{#                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
{#                {% endif %}#}
{#            </span>#}
{#        </div>#}
{#    {% endif %}#}
{#{% endblock %}#}